:root {
  --IRIS: #4d5ae5;
  --NAVY-BLUE: #2e2f42;
  --WHITE: #fff;
  --CLOUD: #f4f4fd;
  --SLATE: #434455;
}
a:link {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.logo-header {
  color: var(--NAVY-BLUE);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.54px;
}
.logo-header span {
  color: var(--IRIS);
}
.main-header-menu-link {
  font-size: 16px;
  font-weight: 500;
  color: var(--NAVY-BLUE);
  letter-spacing: 0.32px;
}
.contact-info {
  color: var(--SLATE);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
}
.main-heading {
  background-color: var(--NAVY-BLUE);
}
.header-1 {
  color: var(--WHITE);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 1.12px;
}
button {
  background-color: var(--IRIS);
  color: var(--WHITE);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
}
h2 {
  text-align: center;
  color: var(--NAVY-BLUE);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.72px;
}
